* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--color2);
}

:root {
    --color1: #528e86;
    --color2: #b7ced2;
    --color3: #dcdde2;
    --color4: #a19a90;
    --color5: #636250;
    --blackborder: 2px solid black;
}

.navbar {
    background-color: var(--color1);
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    overflow: hidden;
}

.navbar ul li {
    float: right;
    font-weight: bold;
    font-size: 1.5em;
    display: block;
    text-align: center;
    padding: 20px 25px;
    background-color: var(--color1);
}

.navbar ul li a {
    text-decoration: none;
    background-color: var(--color1);
    color: var(--color3);
}

.navbar a:hover {
    text-decoration: underline;
}

.aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    margin-top: 80px;
}

.aboutme img {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    border: var(--blackborder);
    
}

figcaption {
    font-weight: bold;
    font-size: 2em;
    flex-wrap: wrap;
}

.aboutme figcaption {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    flex-wrap: wrap;
}

.aboutme p {
    margin-left: 100px;
    font-size: 1.3em;
    width: 25%;
    word-spacing: 2px;
    line-height: 1.5;
    position: flex;
    display: inline-block;
    max-height: 400px;
}

.mywork {
    height: 750px;
}

.mywork h1 {
    text-align: center;
    font-size: 2.5em;
    text-decoration: underline;
}

.mywork h4 {
    text-align: center;
}

.project1 {
   display: inline-block;
   text-align: center;
   width: 100%;
   height: 500px;
}

.project1 img {
    vertical-align: top;
    display: flex;
    width: 40%;
    justify-content: center;
    margin-bottom: 0;
    height: 400px;
    margin-left: 30%;
    border: var(--blackborder);
}

.project1 figcaption {
    width: 40%;
    margin-left: 30%;
}

.project2 {
    float: left;
}

.project3 {
    float: right;
}

.project2, .project3 {
    display: flex;
    width: 50%;
    height: 400px;
}

.project2 img, .project3 img {
    width: 100%;
    border: var(--blackborder);
}

.project2 figure {
    margin-left: 50%;
}

.project3 figure {
    margin-right: 50%;
}

.project2 figcaption, .project3 figcaption {
    margin-top: 20px;
    text-align: center;
}

.contactme {
    display: flex;
    margin-top: 400px;
    height: 150px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-right: 40%;
}

.contactme h1 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
}

.contactme ul li {
    font-size: 1.1em;
}